@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

html,
body {
    margin: 0;
    padding: 0;
    color: #111;
    overflow: hidden;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}


h1 {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #E28130;
}

h2 {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #E28130;
}

a,
a:visited {
    color: #E28130;
    text-decoration: none;
}

a:hover {
    color: #e2c430;
}


.breads{text-align:center}
.breads ul{
	display:inline-block;
	text-align:left;
}
